<div class="page-header">
  <h3>About</h3>
</div>
<div>
  <p>Felix is an expert system that is used to help fix instruments/machines.</p>
  <p>Felix was developed by Chase Nelson for the HEP at Purdue University in 2018. You can view the source <a href="https://www.github.com/ChaseNelson/Felix">here</a>.</p>
  <p>If you have any suggestions you can <a href="mailto:chase.a.nelson@gmail.com">send us a message</a>.</p>
</div>
