<div class="page-header">
  <h3>Contact Us</h3>
</div>
<div class="contactUs">
  <p>Feel free to contact us by <a href="mailto:chase.a.nelson@gmail.com">sending a message</a>.</p>
  <p>Make sure to include your name and a subject with you message.</p>
</div><!-- End of contactUs -->
