<div class="page-header">
  <h3>Fix-It</h3>
</div>
<div>
  <div>
    <h3>Try the following instruction</h3>
    <h4>{{instruction}}</h4>
  </div>
  <div>
    <h3>What happened</h3>
    <div>
      
    </div>
  </div>
</div>
