<div class="page-header">
  <h3>Welcome to Felix</h3>
</div>
<div>
  <h3>What machine needs fixing?</h3>
  <div class="machineList">
    <ul>
      {{#each ids}}
        <li><a href='/fix-it/{{this}}'>{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
