<div class="page-header">
  <h3>Welcome to Felix</h3>
</div>
<div>
  <div class="machineList">
    {{#if ids}}
    <h3>What instrument do you wish to fix?</h3>
      <ul>
        {{#each ids}}
          <li><a href='/fix-it/{{this}}'>{{this}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      <h3>Ohh no! There are no instrument. Click <a href="/new-machine">here</a> to create add a instrument.</h3>
    {{/if}}
  </div>
</div>
