<div class="page-header">
  <h3>Welcome to Felix</h3>
</div>
<div>
  <h3>What machine needs fixing?</h3>
  <ul>
    {{#each machineList}}
      <li><a href="{{link}}"><h4>{{name}}</h4></a></li>
    {{/each}}
  </ul>
</div>
