<div class="page-header">
  <h3>Welcome to Felix</h3>
</div>
<div>
  <div class="machineList">
    {{#if ids}}
      <h3>Which instrument do you wish to fix?</h3>
      <ul>
        {{#each ids}}
          <li><a href='/fix-it/{{this}}'>{{this}}</a></li>
        {{/each}}
      </ul>
    {{else}}
      <br>
      <h4>There are no instrument databases accessible to Felix. Click <a href="/new-machine">here</a> to create add an instrument database.</h4>
    {{/if}}
  </div>
</div>
