<!-- page should display all the machines
and the user pick the machine they want to
add an image to -->
<div class="page-header">
  <h3>Edit Instruments</h3>
</div>
<div>
  <h3>What Instrument do you want to upload and image to?</h3>
  <div class="machineList">
    <ul>
      {{#each ids}}
        <li><a href='/uploadImg/{{this}}'>{{this}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
